aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
appnope
asttokens
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
clearml
clearml-agent
click
colorama
comm
contourpy
Crawl4AI
cycler
debugpy
decorator
distro
dnspython
exceptiongroup
executing
fake-http-header
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
furl
gitdb
GitPython
gradio
gradio_client
greenlet
grpcio
grpcio-tools
h11
h2
hpack
html2text
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
litellm
loguru
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mockito
mpmath
multidict
nest-asyncio
networkx
numpy
openai
orderedmultidict
orjson
packaging
pandas
parso
pathlib2
pexpect
pillow
platformdirs
playwright
pluggy
portalocker
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
pydub
pyee
Pygments
PyJWT
pymongo
pyparsing
pytest
pytest-mockito
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
qdrant-client
rank-bm25
referencing
regex
requests
rich
rpds-py
ruff
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
shellingham
six
smmap
sniffio
snowballstemmer
soupsieve
stack-data
starlette
sympy
tf-playwright-stealth
threadpoolctl
tiktoken
tokenizers
tomli
tomlkit
torch
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
websockets
xxhash
yarl
zipp
jupyter
PyGithub
google-api-python-client
youtube-transcript-api
